<?xml version="1.0"?>

<launch>

  <!--JOY NODE-->

  <node pkg="joy" name="joy_node0" type="joy_node" output="screen">
  <param name="dev" value="/dev/input/js0" />
  <remap from="/joy" to="/komodo/joy"/>
  </node>

  <!--JOY CONTROLER PYTHON NODE-->

  <node pkg="MCL_PI" name="joy0" type="joystick_controler_new.py" output="screen">
    <remap from="/cmd_vel" to="/komodo/mobile_base_controller/cmd_vel"/>
  <remap from="/joy" to="/komodo/joy"/>
  </node>

<!--##############################################################-->
  
  <!--JOY NODE-->

  <node pkg="joy" name="joy_node1" type="joy_node" output="screen">
  <param name="dev" value="/dev/input/js1" />
  <remap from="/joy" to="/armadillo/joy"/>
  </node>

  <!--JOY CONTROLER PYTHON NODE-->

  <node pkg="MCL_PI" name="joy1" type="joystick_controler_new.py" output="screen">
  <remap from="/cmd_vel" to="/armadillo/mobile_base_controller/cmd_vel"/>
  <remap from="/joy" to="/armadillo/joy"/>
  </node>
  
  <arg name="rviz_file1" default="$(find MCL_PI)/rviz/robot1.rviz" />
  <arg name="rviz_file2" default="$(find MCL_PI)/rviz/robot2.rviz" />
  <node pkg="rviz" type="rviz" name="rviz_robot1" args="-d $(arg rviz_file1)" output="screen"/>
  <node pkg="rviz" type="rviz" name="rviz_robot2" args="-d $(arg rviz_file2)" output="screen"/>
  

</launch>
